* {
    box-sizing: border-box;
}

body {
  padding: 5px;
  margin:0; 
  font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f9f9;
}
/* Left column */
.leftcolumn {  
    width:100%;
    text-align:left; 
    margin-left:0%;
    margin-right: 0%;
}
/* Add a card effect for articles */
.card {
    direction: ltr;
    border-width:2;
    padding: 10px;
    border-style:groove;
    background-color: white;
    margin-top: 20px;
}
.card a:hover,.card_table a:hover{
    color:#FAFA03;
    text-decoration: none;
}
.card_table{
    border:2px groove silver;
    font-weight: 500;
    font-size:20px;
    width:60%;
    color: white;
    background-color: #aaa;
    margin-bottom:10px;
    margin-top:20px;
    padding: 10px;
}
.card_table a{
color: white;
padding-left: 10px;
text-decoration: none;
}

h2{
  color: green;
}
.active {
    background-color: #4CAF50 !important;
}
h1 a{
  text-decoration: none;
  color:#333;
}

.border{padding:1px; background-color:#eee;}

.example-box code {
  background-color:#A9E2F3;
}

article  {
    display:block;
    text-align:right;
    color:#000;
    width: 100%;
    direction:rtl;
    background-color:#FFF;
    padding:0px 10px 0px 10px;
    border-radius:6px;
    font-family:monospace,Consolas;
    font-size:18px;
}

article h3 {
  direction: rtl;
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 6px;
}

article h2 {
    display: block;
    text-align: right;
    margin: 20px 0px;
    font-size: 20px;
    direction: rtl;
}

.example-box {
  display:block;
  border:1px solid #bbb;
  background-color:#d3d3d3;
  margin-bottom:0px;
  border-radius:5px;
  padding-left:6px;
  padding-right:6px;
}

.code-box {
    display:block;
    border:1px solid #d3d3d3;
    border-radius:16px;
    margin-bottom:5px;
    font-size:14px;
    text-align: left;
}

.example-box .code-box {
  display:block;
  direction:ltr;
  font-family:monospace;
  font-size: 14px;
  background-color:#FFF;
  border-top:1px solid #bbb;
  border-bottom:1px solid #bbb;
  border-right:5px solid #4A235A;
  border-left:5px solid #4A235A;
  line-height:18px;
  padding:8px 8px;
  border-radius:15px; 
}
/*style of point Begin*/
.explain {
  direction:rtl;
  text-align: right;
   list-style-position:inside;
   color: green;
}
/*style of point End*/
.explain .word{padding-top:0px;}
ol li p , ul li p {
  display:inline; 
  color:#000; 
  font-weight:bold;
   vertical-align:right;
 }


.white{color:#FFF;}
.blue{color:#00F;}
.purple{color:purple;}
.lit{color:#066;}
.red{color:#F00;}
.green{color:green;}
.orange {color:#FF7519;}
.brown{color:#935800;}
.black {color:#000;}
.gray {color:gray;}
.comment{color:gray;}

/*---------------BS settings-------------------*/
.right{text-align:right;}
.left{text-align:left;}
.center{text-align:center;}
.float-r{float:right;}
.float-l{float:left;}
.full-width{width:100%;}
.b{font-weight:bold;font-size: 20px;}
.b {font-weight:bold;}
.u{text-decoration:underline;}
.i{font-style:italic;}
.img-responsive{max-width:100%; height:auto;}

code{
    display:inline-block; 
    vertical-align:middle;
    padding:5px; 
    border-radius:4px; 
    direction:ltr;
    font-family:monospace,Consolas; 
    text-align:right; 
    line-height:0%; 
    font-weight:bold;
  }
.word{
  text-align: right;
  color:purple;
   padding:0px 2px; 
   border-radius:4px;
    font-weight:bold;
     direction:ltr;
      display:inline-block;
    }

.inline{display:inline-block;}

.rtl{direction:rtl;}
.ltr{direction:ltr;}
.block{display:block; margin-bottom:15px; text-align:left;}
.yellow-bg {background-color:yellow;}
.gray-bg {background-color:#ddd;}
.blue-bg {background-color:#A9E2F3;}
.green-bg{background-color: #9FF781;}
.white-bg{background-color:#FFF;}

.point {
  color: green;
  font-weight: bold;
  padding-left: 10px;
}

/*----------------------Table Style Begin------------------------------*/
table a{text-decoration:none;}

table.list {
  direction:rtl;
 text-align: right; 
 border-collapse:collapse;
  margin-top:10px;
   margin-bottom:20px;
    box-shadow:2px 4px 3px #777;
  }
table.list td {
  padding-right:5px;
  font-size:16px;
  padding-bottom:20px; 
  border:1px solid #d4d4d4; 
  vertical-align:middle; 
  direction:rtl; 
  line-height:1.5em;
}
table.list th{
  border:1px solid gold;
 color:white;
  background-color:#148F77;
   text-align:right; 
   direction: rtl;
    font-weight: bold;
  }
table.list tr:nth-child(odd) {
  background-color:#EAFAF1  ;
}
table.list tr:nth-child(even) {
background-color:#fff;
}
table.list .code{
  background-color:transparent;
}
table.list .word{
  background-color:transparent;
}
table{
  width: 80%;
  border: 0px none;
    outline: 0px none;
    vertical-align:baseline;
    background: none repeat scroll 0% 0% transparent;
}

/*----------------------Table Style End------------------------------*/


article h3 {
  direction: rtl;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 6px;
}

article h2 {
    display: block;
    text-align: right;
    margin: 10px 0px;
    font-size: 18px;
    direction: rtl;
}
article  {
    display:block;
    text-align:right;
    color:#000;
    direction:rtl;
    background-color:#FFF;
    padding-right:10px;
    border-radius:6px;
    font-family:monospace,Consolas;
    font-size:18px;
}
* Englighter.js */

li .EnlighterJS, li .EnlighterJSWrapper,
h2 .EnlighterJS, h2 .EnlighterJSWrapper,
h3 .EnlighterJS, h3 .EnlighterJSWrapper,
p .EnlighterJS, p .EnlighterJSWrapper,
td .EnlighterJS, td .EnlighterJSWrapper {
  direction: ltr !important;
  vertical-align: middle !important;
  display: inline-block !important;
}

td .EnlighterJS, td .EnlighterJSWrapper {
  /* background: transparent !important; */
  border: 0px !important;
}


h1 .EnlighterJS, h1 .EnlighterJSWrapper {
  border: 0px !important;
  background: transparent !important;
  font-family: Helvetica, Arial, Sans-Serif !important;
  font-size: 22px !important;
  line-height: 22px !important;
  vertical-align: sub !important;
}

h1 .EnlighterJS span, h1 .EnlighterJSWrapper span {
  font-size: 22px !important;
  color: #444 !important;
}

h1 .enlighterEnlighterJS, h1 .EnlighterJS {
  direction: ltr !important;
  display: inline-block;
}

h2 .EnlighterJS span, h2 .EnlighterJSWrapper span {
  font-size: 14px !important; 
}

h3 .EnlighterJS span, h3 .EnlighterJSWrapper span {
  font-size: 13px !important;
}

.EnlighterJS span, .EnlighterJSWrapper span {
  direction: ltr !important;
  display: inline-block !important;
}

.EnlighterJSWrapper  {
  text-align: left !important;
}

.explaining-box .EnlighterJSWrapper  {
  margin-bottom: 8px !important;
}

.EnlighterJSWrapper ol li,
.EnlighterJSWrapper ul li {
  direction: ltr !important;
}

ol.enlighterEnlighterJS li, ul.enlighterEnlighterJS li {
  color: gray !important;
  font-weight: bold !important;
}

ol.EnlighterJS li:last-child, ul.EnlighterJS li:last-child {
    padding-bottom: 1px !important;
}

.enlighterEnlighterJSWrapper pre, ol.enlighterEnlighterJS, ul.enlighterEnlighterJS {
  border: 1px solid #bbb !important;
}
.enlighterEnlighterJSTabPane .controls li {
  border: 1px solid gray !important;
}

.EnlighterJSWrapper.gitEnlighterJSWrapper {
    border-radius: 5px !important;
}

ol.EnlighterJS, ul.EnlighterJS {
    border-radius: 5px !important;
  margin: 0px !important;
  padding: 8px 0px !important;
}

ol.EnlighterJS li {
  list-style: decimal !important;
  padding-left: 10px !important;
}

ol.EnlighterJS li, ul.EnlighterJS li {
  font-size: 11px !important;
  line-height: 18px !important;
}

/* EnlighterJS comments */
.enlighterEnlighterJS .co1, .enlighterEnlighterJS .co2 {
  font-weight: normal !important;
  font-family: droid_arabic_naskh_regular !important;
}

ol.enlighterEnlighterJS li.specialline, ul.enlighterEnlighterJS li.specialline {
    background-color: #F4FA58 !important;
}

.code-title span.EnlighterJS {
    background: transparent !important;
}

h2 span.EnlighterJS, h3 span.EnlighterJS {
    background: #CED8F6 !important;
  border: none !important;
}

h2 .EnlighterJS span {
    font-size: 17px !important;
}

.code-title .enlighterEnlighterJS span,
.code-title .EnlighterJS span {
  font-weight: bold !important;
  font-size: 16px !important;
  font-family: Helvetica, Arial, Sans-Serif !important;
}

.EnlighterJS span {
  font-weight: bold !important;
}

/* EnlighterJS scroll horizontally*/
ol.EnlighterJS,
ul.EnlighterJS {
  width: auto !important;
  overflow-x: auto !important;
  word-wrap: normal !important;
  direction: ltr !important;
  background-color: white !important;
}

ol.EnlighterJS li,
ul.EnlighterJS li{
  white-space: pre !important;
  background-color: white !important;
  /* background-color: #f9f9f9 !important; */
}

article p span.enlighterEnlighterJS {
  background: #CED8F6 !important; /* #A9E2F3 */
  border: none !important;
}
