@charset "UTF-8";

@font-face {
	font-family: "droid_arabic_naskh_regular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/droidnaskh-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/droidnaskh-regular-webfont.woff2") format("woff2"), url("../fonts/droidnaskh-regular-webfont.woff") format("woff"), url("../fonts/droidnaskh-regular-webfont.ttf") format("truetype"), url("../fonts/droidnaskh-regular-webfont.svg#droid_arabic_naskhregular") format("svg");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0px none;
    outline: 0px none;
    vertical-align: baseline;
    background: none repeat scroll 0% 0% transparent;
}

* {
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
	direction: rtl;
}

body {
	background: #E0E0E0;
}
h1 {
    display: block;
    text-align: center;
    font-family: droid_arabic_naskh_regular;
    font-size: 22px;
    color: #000;
    direction: rtl;
    padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
    line-height: 38px;
    font-weight: bold;
	max-width: 700px;
	margin: 0px auto;
}

h1 span.word {
	color: black;
}

h1 span.session {
    display: block;
    color: #004481;
    font-size: 28px;
	font-family: Helvetica, Arial, Sans-Serif;
}

table {
	font-family: droid_arabic_naskh_regular;
}

table .number, p .number {
	font-family: Helvetica, Arial, Sans-Serif;
    color: red;
    font-weight: bold;
	direction: ltr;
}

table .row-number {
	width: 28px;
	text-align: center;
}

/*================================================================================*/
a{text-decoration:none;}
article p a{text-decoration:underline; font-family:droid_arabic_naskh_regular;}
article p a:hover{color:red; text-decoration:none;}

table a{text-decoration:underline;}
table a:hover{text-decoration:none; color:red;}

article p, article td{
	margin:10px 0px;
	vertical-align:middle;
	line-height: 30px;
}

article img{color:#F00; max-width:100%; height:auto;}

video{max-width:90%; height:auto;}  /* display:block; margin:auto; */

sup{vertical-align:top;}

sub{vertical-align:bottom;}

article {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px 25px 15px;
	border-bottom: 20px solid #E0E0E0;
}

article p {
    /* text-align: justify; */
    font-size: 14px;
    direction: rtl;
	font-family: droid_arabic_naskh_regular;
}

article p a{color:#00f; text-decoration: underline;}
article p a:hover{color:#F00; text-decoration: none;}

article .question{
   color:#F00;
}

.border{padding:1px; background-color:#eee;}

.example-box h4 {
    display: block;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #3385FF;
    text-align: right;
    direction: rtl;
    font-size: 17px;
    font-family: droid_arabic_naskh_regular;
}

.example-box code {
	background-color:#A9E2F3;
}

article h3 {
	direction: rtl;
	font-weight: bold;
	font-size: 16px;
    font-family: droid_arabic_naskh_regular;
}

article h2 {
    display: block;
    text-align: right;
    margin: 20px 0px;
    font-size: 18px;
    direction: rtl;
    font-family: droid_arabic_naskh_regular;
}

article .code-box {
    display:block;
    border:1px solid #d3d3d3;
    border-radius:6px;
	margin-bottom:15px;
	position: relative;
}

article .code-box div {
    display:block;
    text-align:left;
    color:#000;
    direction:ltr;
    background-color:#FFF;
    padding:8px;
    border-radius:6px;
    line-height:22px;
    font-family:monospace,Consolas;
    font-size:12px;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
}

.example-box {
    display:block;
	border:1px solid #bbb;
	background-color:#d3d3d3;
	margin-top:5px;
	margin-bottom:20px;
	border-radius:5px;
	padding-top:15px;
	padding-bottom:20px;
	padding-left:6px;
	padding-right:6px;
}

.example-box .code-box {
    display:block;
    direction:ltr;
	color:#000;
	text-align:left;
	background-color:#FFF;
	border:1px solid #bbb;
	font-size:12px;
    font-family:monospace,Consolas;
	line-height:18px;
	padding:10px;
	border-radius:5px;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
}

.code-box ol {
    list-style-type:decimal-leading-zero;
	list-style-position:inside ;
    direction:ltr;
}

.code-box ol li {
    direction:ltr;
	font-weight:bold;
}

.code-box ol li  .gray{
	font-weight:normal;
}

.example-box .code-title {
    display: block;
    text-align: left;
    direction: ltr;
    margin-left: 10px;
	padding-left:30px;
    line-height: 25px;
    margin-bottom: 3px;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 15px;
}

article .cmd-box {
    display:block;
    direction:ltr;
	color:#fff;
	text-align:left;
	background-color:#000;
	border:5px solid #3385FF;
	font-size:12px;
    font-family:monospace,Consolas;
	line-height:18px;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
}

article .cmd-box h4{
    display:block;
    direction:ltr;
	color:#000;
	text-align:center;
	background:#3385FF;
	font-size:15px;
    font-family:monospace,Consolas;
	line-height:18px;
	padding:5px;
}

article .cmd-box div {
    display:block;
    text-align:left;
    color:#fff;
    direction:ltr;
    background-color:#000;
    padding:8px;
    border-radius:6px;
    line-height:22px;
    font-family:monospace,Consolas;
    font-size:12px;
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
}

.example-box .image-box {
    display:block;
	background-color:white;
	border:1px solid #bbb;
	margin-top:5px;
	border-radius:5px;
	padding-top:15px;
	padding-bottom:6px;
	padding-left:6px;
	padding-right:6px;
	text-align: center;
}

.example-box .explaining-box {
    display:block;
	border:1px solid #bbb;
	background-color:#f1f1f1;
	padding:10px;
	border-radius:5px;
}

.example-box ul{
   direction:rtl;
   list-style-position:inside;
   color:#F00;
}

.explain {
   direction:rtl;
   list-style-position:inside;
   color:#F00;
   line-height:1.8em;
}

.explain .word{padding-top:3px;}

article a img{
	cursor:zoom-in;
}

ol.arabic {
   direction:rtl;
   list-style:arabic-indic;
   list-style-position:inside;
   color:#F00;
   font-family: droid_arabic_naskh_regular;
}

ul ol , ul ul, ol ol, ol ul{
	padding-right: 20px;
}

ol li p , ul li p {display:inline; color:#000; font-weight:normal; vertical-align:middle; font-family: droid_arabic_naskh_regular;}

ol li .question, ul li .question{color:#008; font-weight:normal; font-family: droid_arabic_naskh_regular;}

.white{color:#FFF;}
.blue{color:#00F;}
.purple{color:purple;}
.lit{color:#066;}
.red{color:#F00;}
.green{color:green;}
.orange {color:#FF7519;}
.brown{color:#935800;}
.black {color:#000;}
.gray {color:gray;}
.comment{color:gray;}


/*Table*/
table.horizontal-scroller {overflow-x:scroll;}
table.list {direction:rtl; text-align: right; border-collapse:collapse; margin-top:10px; margin-bottom:20px; box-shadow:2px 4px 3px #777;}
table.list td {font-size:14px; padding:10px 10px; padding-bottom:20px; border:1px solid #d4d4d4; vertical-align:middle; direction:rtl; line-height:2em;}
table.list th{border:1px solid #237EB5; padding:10px; color:#FFF; background-color:#237EB5; text-align:center; direction: rtl; font-weight: normal;}
table.list tr:nth-child(odd) {background-color:#f1f1f1;}
table.list tr:nth-child(even) {background-color:#fff;}
table.list .code{background-color:transparent;}
table.list .word{background-color:transparent;}
table.list .code-title{display:block; padding:6px; border-radius:2px; direction:ltr; text-align:left; font-weight:bold; font-size:16px; margin-bottom:10px; font-family: Helvetica, Arial, Sans-Serif;}
/*END of Table*/

/*Note*/
.note {
	color: red;
	font-weight: bold;
}

.note-title {
    color: #F00;
    margin-top: 5px;
    font-size: 17px;
    display: block;
    text-align: right;
    font-family: droid_arabic_naskh_regular;
}

.note-box {
    width: 100%;
    border: 1px solid #d4d4d4;
    background-color: #FFFFA3;
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 2px 17px;
    direction: rtl;
    font-size: 14px;
    font-family: droid_arabic_naskh_regular;
    line-height: 32px;
}

.note-box ol, .note-box ul{
	margin-top: -10px;
	margin-bottom: 10px;
}
/*END of Note*/

/*---------------BS settings-------------------*/
.right{text-align:right;}
.left{text-align:left;}
.center{text-align:center;}
.float-r{float:right;}
.float-l{float:left;}
.full-width{width:60%;}
.b{font-weight:bold;}
.b {font-weight:bold;}
.u{text-decoration:underline;}
.i{font-style:italic;}
.img-responsive{max-width:100%; height:auto;}

.code {
	margin: 0;
	padding: 0;
	line-height: inherit;
	font-size: 12px;
	font-family: inherit;
	font-family: monospace,Consolas;
	text-align: left;
	direction: ltr;
	font-weight: normal;
	border-radius: 3px;
	background-color: #CED8F6;
	padding: 3px 5px 1px;
}

.word{color:#622a62; padding:0px 2px; border-radius:4px; direction:ltr; display:inline-block; font-family: Helvetica, Arial, Sans-Serif; font-weight: bold;}
.tech-word{color:black; padding:0px 2px; border-radius:4px; font-weight:bold; direction:ltr; display:inline-block; font-family: Helvetica, Arial, Sans-Serif;}

.inline{display:inline-block;}

.rtl{direction:rtl;}
.ltr{direction:ltr;}
.block{display:block; margin-bottom:15px; text-align:left;}
.yellow-bg {background-color:yellow;}
.gray-bg {background-color:#ddd;}
.blue-bg {background-color:#A9E2F3;}
.green-bg{background-color: #9FF781;}
.white-bg{background-color:#FFF;}

.btn{cursor:pointer; display:inline-block; font-size:16px; font-weight:bold; padding:0px 10px; background:#333; color:#FFF; border-radius:5px;}
.btn:hover{background:#000;}

a.open-page{cursor:pointer; display:inline-block; padding:5px 10px; background:#333; color:#FFF; border-radius:5px; text-decoration:none; margin:1px 0px;}
.open-page img{vertical-align: middle;}
a.open-page:hover{color:red; background:#000;}
table a.open-page {padding:2px 8px; font-size:13px; margin-top: 8px;}

.point {
	color: red;
	font-weight: bold;
	padding-left: 10px;
}

kbd {
    display: inline-block;
    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #FFF inset;
    white-space: nowrap;
}

.explaining-box .copy-code {
	display: none !important;
}

.copy-code {
	right: 0px;
	top: 0px;
	position: absolute;
	display: block !important;
	padding: 7px 10px 2px 18px !important;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.copy-code:hover {
	padding: 7px 14px 2px 22px !important;
    background: #A9D0F5;
}

.copy-code:active {
    background: yellow;
}

.copy-code img {
	width: 18px !important;
	height: auto !important;
}
/* Englighter.js */

li .EnlighterJS, li .EnlighterJSWrapper,
h2 .EnlighterJS, h2 .EnlighterJSWrapper,
h3 .EnlighterJS, h3 .EnlighterJSWrapper,
p .EnlighterJS, p .EnlighterJSWrapper,
td .EnlighterJS, td .EnlighterJSWrapper {
	direction: ltr !important;
	vertical-align: middle !important;
	display: inline-block !important;
}

td .EnlighterJS, td .EnlighterJSWrapper {
	/* background: transparent !important; */
	border: 0px !important;
}


h1 .EnlighterJS, h1 .EnlighterJSWrapper {
	border: 0px !important;
	background: transparent !important;
	font-family: Helvetica, Arial, Sans-Serif !important;
	font-size: 22px !important;
	line-height: 22px !important;
	vertical-align: sub !important;
}

h1 .EnlighterJS span, h1 .EnlighterJSWrapper span {
	font-size: 22px !important;
	color: #444 !important;
}

h1 .enlighterEnlighterJS, h1 .EnlighterJS {
	direction: ltr !important;
	display: inline-block;
}

h2 .EnlighterJS span, h2 .EnlighterJSWrapper span {
	font-size: 14px !important;	
}

h3 .EnlighterJS span, h3 .EnlighterJSWrapper span {
	font-size: 13px !important;
}

.EnlighterJS span, .EnlighterJSWrapper span {
	direction: ltr !important;
	display: inline-block !important;
}

.EnlighterJSWrapper  {
	text-align: left !important;
}

.explaining-box .EnlighterJSWrapper  {
	margin-bottom: 8px !important;
}

.EnlighterJSWrapper ol li,
.EnlighterJSWrapper ul li {
	direction: ltr !important;
}

ol.enlighterEnlighterJS li, ul.enlighterEnlighterJS li {
	color: gray !important;
	font-weight: bold !important;
}

ol.EnlighterJS li:last-child, ul.EnlighterJS li:last-child {
    padding-bottom: 1px !important;
}

.enlighterEnlighterJSWrapper pre, ol.enlighterEnlighterJS, ul.enlighterEnlighterJS {
	border: 1px solid #bbb !important;
}

.controls {
	text-align: left !important;
}

.controls ul {
	direction: ltr !important;
}

.enlighterEnlighterJSTabPane .controls li {
	border: 1px solid gray !important;
}

.EnlighterJSWrapper.gitEnlighterJSWrapper {
    border-radius: 5px !important;
}

ol.EnlighterJS, ul.EnlighterJS {
    border-radius: 5px !important;
	margin: 0px !important;
	padding: 8px 0px !important;
}

ol.EnlighterJS li {
	list-style: decimal !important;
	padding-left: 10px !important;
}

ol.EnlighterJS li, ul.EnlighterJS li {
	font-size: 11px !important;
	line-height: 18px !important;
}

/* EnlighterJS comments */
.enlighterEnlighterJS .co1, .enlighterEnlighterJS .co2 {
	font-weight: normal !important;
	font-family: droid_arabic_naskh_regular !important;
}

ol.enlighterEnlighterJS li.specialline, ul.enlighterEnlighterJS li.specialline {
    background-color: #F4FA58 !important;
}

.code-title span.EnlighterJS {
    background: transparent !important;
}

h2 span.EnlighterJS, h3 span.EnlighterJS {
    background: #CED8F6 !important;
	border: none !important;
}

h2 .EnlighterJS span {
    font-size: 17px !important;
}

.code-title .enlighterEnlighterJS span,
.code-title .EnlighterJS span {
	font-weight: bold !important;
	font-size: 16px !important;
	font-family: Helvetica, Arial, Sans-Serif !important;
}

.EnlighterJS span {
	font-weight: bold !important;
}

/* EnlighterJS scroll horizontally*/
ol.EnlighterJS,
ul.EnlighterJS {
	width: auto !important;
	overflow-x: auto !important;
	word-wrap: normal !important;
	direction: ltr !important;
	background-color: white !important;
}

ol.EnlighterJS li,
ul.EnlighterJS li{
	white-space: pre !important;
	background-color: white !important;
	/* background-color: #f9f9f9 !important; */
}

#shortcuts span.enlighterEnlighterJS {
	background: #CED8F6 !important;
}

#shortcuts span.EnlighterJS {
	border: none !important;
}

article p span.enlighterEnlighterJS {
	background: #CED8F6 !important; /* #A9E2F3 */
	border: none !important;
}
